.calculation-row {
    border: 1px solid rgba(255, 255, 255, 0.50);
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
    margin: 5px 0px 5px 0;
}

.calculation-input {
    width: 100%;
    z-index: 0;
}

.calculation-form-input {
    border-radius: 5px !important;
}

.number-icon {
    color: white;
    text-align: center;
    margin-left: -15px;
    border-right: 1px dotted white;
    padding-top: 7px;
    height: 35px;
    font-weight: bold;
}

.number-badge {
    background-color: #A661E0 !important;
    border: 1px solid black;
    width: 100%;
    padding: 10px 15px 10px 15px !important;
}

.icon {
    color: white;
    text-align: center;
    padding-top: 7px;
}